langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
pdfplumber
transformers
torch
streamlit
requests
pillow
pymupdf
pdf2image
sentencepiece
protobuf
python-dotenv
opencv-python
